Final Deliverables/admission.json
[{"id":"c0e82bcb10ba3e0f","type":"tab","label":"samp","disabled":false,"info":"","env":[]},{"id":"421813c92fa78b6c","type":"ui_form","z":"c0e82bcb10ba3e0f","name":"","label":"","group":"cd7a498b567da26b","order":4,"width":0,"height":0,"options":[{"label":"gre","value":"gre","type":"number","required":true,"rows":null},{"label":"toefl","value":"toefl","type":"number","required":true,"rows":null},{"label":"cgpa","value":"cgpa","type":"number","required":true,"rows":null},{"label":"research","value":"research","type":"number","required":true,"rows":null},{"label":"university","value":"university","type":"number","required":true,"rows":null},{"label":"sop","value":"sop","type":"number","required":true,"rows":null},{"label":"lor","value":"lor","type":"number","required":true,"rows":null}],"formValue":{"gre":"","toefl":"","cgpa":"","research":"","university":"","sop":"","lor":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":110,"y":40,"wires":[["87daebeb49e2c5be","8a601a4d07ab1f75"]]},{"id":"87daebeb49e2c5be","type":"debug","z":"c0e82bcb10ba3e0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":40,"wires":[]},{"id":"8a601a4d07ab1f75","type":"function","z":"c0e82bcb10ba3e0f","name":"global variables for form node","func":"global.set(\"gre\",msg.payload.gre)\nglobal.set(\"toefl\",msg.payload.toefl)\nglobal.set(\"cgpa\",msg.payload.cgpa)\nglobal.set(\"university\",msg.payload.university)\nglobal.set(\"research\",msg.payload.research)\nglobal.set(\"lor\",msg.payload.lor)\nglobal.set(\"sop\",msg.payload.sop)\nvar apikey=\"90Dd_p_ZzyxhcR84BzBwt_6Hlr7UdTYrmQvY57HRvT-D\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":100,"wires":[["d2f25ccea34e8ce5"]]},{"id":"d2f25ccea34e8ce5","type":"http request","z":"c0e82bcb10ba3e0f","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":550,"y":100,"wires":[["60dce25f5589cdf8","a0a900d6536e3a6a"]]},{"id":"60dce25f5589cdf8","type":"debug","z":"c0e82bcb10ba3e0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":40,"wires":[]},{"id":"a0a900d6536e3a6a","type":"function","z":"c0e82bcb10ba3e0f","name":"pre prediction","func":"var gre = global.get(\"gre\")\nvar cgpa = global.get(\"cgpa\")\nvar toefl = global.get(\"toefl\")\nvar university = global.get(\"university\")\nvar lor = global.get(\"lor\")\nvar sop = global.get(\"sop\")\nvar research = global.get(\"research\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"gre\", \"toefl\", \"cgpa\",\"research\", \"university\",  \"lor\" , \"sop\"]],\"values\": [[gre,toefl,cgpa,research,university,lor,sop]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":200,"wires":[["69ae2e5ab86da626"]]},{"id":"69ae2e5ab86da626","type":"http request","z":"c0e82bcb10ba3e0f","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/80f43780-f523-41a4-82e1-b1db451769e9/predictions?version=2022-11-16","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":690,"y":240,"wires":[["f50c552c616cf545","76174ad5333f9e38"]]},{"id":"f50c552c616cf545","type":"debug","z":"c0e82bcb10ba3e0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":180,"wires":[]},{"id":"76174ad5333f9e38","type":"function","z":"c0e82bcb10ba3e0f","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":300,"wires":[["330626a96ee84d80","477f2251d282011c"]]},{"id":"330626a96ee84d80","type":"debug","z":"c0e82bcb10ba3e0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":360,"wires":[]},{"id":"477f2251d282011c","type":"ui_text","z":"c0e82bcb10ba3e0f","group":"cd7a498b567da26b","order":5,"width":0,"height":0,"name":"","label":"The Chance of admission will be","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":440,"wires":[]},{"id":"cd7a498b567da26b","type":"ui_group","name":"Admission prediction","tab":"576bbad419c5b588","order":1,"disp":true,"width":"6","collapse":false},{"id":"576bbad419c5b588","type":"ui_tab","name":"Admission Predictor","icon":"dashboard","disabled":false,"hidden":false}]